
body {
	padding-top: 20px;
	padding-bottom: 60px;
	background-color: #EAEEF1;
}
/* Custom container */
.container {
	margin: 0 auto;
	max-width: 800px;
}
.jumbotron {
	margin: 40px 0;
	text-align: center;
	background-color: #00A8FF;
}
.jumbotron h1 {
	font-size: 40px;
	margin-bottom: 20px;
	color: white;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}
.jumbotron .lead {
	font-size: 24px;
	color: #12638C;
}

.row {
	text-align: center;
	margin-bottom: 50px;
}

.row h2 {
	font-size: 25px;
}

.row p {
	text-align: justify;
}

.buttonEdit {
	background-color: #00A8FF;
	border: none;
	color: #FFFFFF;
	border-radius: 3px;
	padding: 5px 15px;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	font-size: 20px;
	margin-top: 10px;
}


